<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>关于Blog和我</title>
    {{.Header}}

</head>

<body>

    <!-- Navigation -->
    {{.Navigation}}

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('/static/img/about-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>About Me</h1>
                        <hr class="small">
                        <span class="subheading">Java / Golang 开发</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p>07年毕业, 不小心已经成为了老程序员.</p>
                <p>未毕业即进入一家台湾做老板的电商公司工作,主要用SSH开发.非常感谢公司和同事,正因为如此才能有机会成为一名程序猿,做上了喜欢的工作.从某种程度上讲,算是幸运儿一枚. <br/>
                主要从事电商 / 企业应用 / 互联网 方面的工作, 比较擅长Java多线程并发编程; 是 Spring 的铁杆粉丝,一直伴随职业生涯. <br/> <br/>13年开始涉入Golang的学习和在工作上使用, Linux下编程趣味多.
                </p>
                <p>Jaheme Blog(本博客系统)是工作以来,一直有想法有个属于自己的博客, 支持Java的VPS主机不多,且貴,一直未能成行.接触了Golang, 受众大神精神引导,开源精神的影响, 很荣幸实现了这个小小愿望(源码见页面左上角 <a target="_blank" href="https://github.com/jaheme/blog"> Source Code </a> 链接). </p>
                <p>感谢提供[Clean Blog]素材的作者.</p>
                <p style="text-align:right;padding-right:10px;"><span>Write By jaheme On 2015/01/09</span></p>
            </div>
        </div>
    </div>


    <!-- Footer -->
    {{.Footer}}

</body>

</html>
