<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Jaheme Blog</title>
    {{.Header}}
</head>

<body>
{{.Navigation}}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('/static/img/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>jahe.me</h1>
                        <hr class="small">
                        <span class="subheading">Like Be A Coder, Like Life.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    {{range $key, $a := .as}}
                <div class="post-preview">
                    <a href="/view/{{$a.Url}}">
                        <h2 class="post-title">
                            {{$a.Title}}
                        </h2>
                    </a>
                    <h4 class="post-subtitle">
                        {{str2html $a.Content}}
                    </h4>
                    <p class="post-meta">
                        {{ if eq $a.Category 0}} 原创 {{else}} 转载 {{end}}
                        Posted by jaheme on {{dateformat $a.Create_time "2006-01-02 15:04"}}
                    </p>
                </div>
                <hr>
                {{end}}
                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <a href="#">Older Posts &rarr;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    {{.Footer}}

</body>

</html>
