<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>jahe-blog {{.a.Title}}</title>
    {{.Header}}

</head>

<body>
    <!-- Navigation -->
    {{.Navigation}}

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('/static/img/post-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>{{.a.Title}}</h1>
                        <span class="meta">
                            {{ if eq .a.Category 0}} 原创 {{else}} 转载 {{end}}
                            Posted by jaheme on {{dateformat .a.Create_time "2006-01-02 15:04"}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    {{str2html .a.Content}}
                </div>
            </div>
        </div>
    </article>

    <hr>

    <!-- Footer -->
    {{.Footer}}

</body>

</html>
